@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:white; font-weight:600" class="display-4">Ekşi sözlük pro edition</h1>
    <p style="font-size:26px; color:white; font-weight:600;">HOŞGELDİNİZ</p>
</div>
