@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:black; font-weight:bold" class="display-4">Emine Erdoğan sözlük</h1>
    <p style="font-size:24px; color:black">HOŞGELDİNİZ</p>
</div>
